<h1>My Social ID</h1>

<h2>Follow Me</h2>

<ul>
  <%= content_tag :li, (image_tag 'facebook.png') %>
  <%= content_tag :li, (image_tag 'twitter.png') %>
  <%= content_tag :li, (image_tag 'linkedin.png') %>
  <%= content_tag :li, (image_tag 'google-plus.png') %>
  <%= content_tag :li, (image_tag 'youtube.png') %>
  <%= content_tag :li, (image_tag 'flickr.png') %>
  <%= content_tag :li, (image_tag 'vimeo.png') %>
  <%= content_tag :li, (image_tag 'pinterest.png') %>
  <%= content_tag :li, (image_tag 'instagram.png') %>
  <%= content_tag :li, (image_tag 'foursquare.png') %>
</ul>

<h2>Contact Me</h2>

<ul>
  <%= content_tag :li, (image_tag 'email.png') %>
  <%= content_tag :li, (image_tag 'imessage.png') %>
  <%= content_tag :li, (image_tag 'skype.png') %>
</ul>